:root {
  --app-bg: #FFF;
  --card-bg: #ffffff;
  --primary: #6366f1;
  --text-dark: #111827;
  --text-muted: #6b7280;
}

* {
  font-family: 'Inter', system-ui, sans-serif;
}

ion-content {
  --background: var(--app-bg);
}

.card {
  background: var(--card-bg);
  border-radius: 18px;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.04);
}


:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #1a1a1a;

  --ion-color-step-50: #f7f7f7;
  --ion-color-step-100: #eeeeee;
  --ion-color-step-150: #e0e0e0;

  color-scheme: only light;
}